[submodule "classes/intro-html-css"]
	path = classes/intro-html-css
	url = https://github.com/gdichicago/intro-html-css.git
[submodule "classes/js205"]
	path = classes/js205
	url = https://github.com/gdichicago/js205.git
[submodule "classes/js204"]
	path = classes/js204
	url = https://github.com/gdichicago/js204.git
[submodule "classes/js203"]
	path = classes/js203
	url = https://github.com/gdichicago/js203.git
[submodule "classes/js201"]
	path = classes/js201
	url = https://github.com/gdichicago/js201.git
[submodule "classes/js202"]
	path = classes/js202
	url = https://github.com/gdichicago/js202.git
[submodule "operations"]
	path = operations
	url = https://github.com/gdichicago/operations.git
[submodule "pairup"]
	path = pairup
	url = https://github.com/gdichicago/pairup.git
[submodule "classes/js101"]
	path = classes/js101
	url = https://github.com/gdichicago/js101.git
[submodule "classes/intermediate-html-css"]
	path = classes/intermediate-html-css
	url = https://github.com/gdichicago/intermediate-html-css.git
[submodule "classes/intro-to-command-line"]
	path = classes/intro-to-command-line
	url = https://github.com/gdichicago/intro-to-command-line.git
[submodule "classes/ruby"]
	path = classes/ruby
	url = https://github.com/gdichicago/gdi-ruby.git
[submodule "classes/intro-databases"]
	path = classes/intro-databases
	url = https://github.com/gdichicago/gdi-intro-databases.git
[submodule "classes/intro-rails"]
	path = classes/intro-rails
	url = https://github.com/gdichicago/gdi-rails.git
[submodule "classes/int-html-css"]
	path = classes/int-html-css
	url = https://github.com/gdichicago/gdi-boulder-intermediate-htmlcss.git
[submodule "classes/intro-algos"]
	path = classes/intro-algos
	url = https://github.com/gdichicago/intro-algos.git
