body {
  color: #333333;
  font-family: 'Open Sans', Arial, sans-serif;
  font-size: 2em;
  font-weight: 400;
  background-color: #f2f2f2; }

#container {
  max-width: 1000px;
  margin: 0 auto;
  font-size: 0.5em;
  padding: 100px 0px; }
  #container p {
    line-height: 1.4em;
    text-align: justify; }

a {
  -webkit-transition: all 1.5s ease;
  -moz-transition: all 1.5s ease;
  transition: all 1.5s ease;
  text-decoration: none;
  font-weight: 700;
  color: #1bbc9b; }
  a:hover {
    color: #2d3e50; }

h1, h2, h3, h4, h5, h6 {
  font-weight: 800;
  padding-bottom: 5px;
  margin: 0; }

h1 {
  color: #e64c66;
  font-size: 2.6em; }

h2 {
  color: #2d3e50;
  font-size: 2.4em; }

h3 {
  color: #1bbc9b;
  font-size: 2.2em; }

h4 {
  color: #2d3e50;
  font-size: 1.6em; }

header {
  padding-bottom: 20px; }
